@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scrollbar-color: #b9bdc0 #717479;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #b9bdc0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #717479;
}

@layer components {
  .table th:first-child {
    position: unset;
  }
}

:root{
  --005fac-l: #005fac;
  --ac6200-l: #ac6200;
  --ac0025-l: #ac0009;
  
  --005fac-d: #005fac;
  --ac6200-d: #ac6200;
  --ac0025-d: #ac0025;
}
