@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--priamry) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

:root {
  --primary: #333333;
  --secondary: #151515;
}
